<div class="card bg-dark text-white example-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4">
        <!-- <div class="avatar"></div> -->
        <a
          style="cursor: pointer;"
          [routerLink]="[index]"
          routerLinkActive="active"
        >
          <img
            class="avatar"
            src="../../../../assets/images/hacker.jpg"
            alt="avatar"
          />
        </a>
      </div>

      <div class="col-md-8">
        <h4 class="card-title">{{ course.name }}</h4>
        <p class="card-text">{{ course.level }}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <a routerLink="course" routerLinkActive="active">
      <img
        class="img-responsive ml-0"
        mat-card-image
        [src]="course.image_url"
        alt="Python symbol"
      />
    </a>
    <p class="card-text">{{ course.courseDescription }}</p>
    <button (click)="toCourse()" class="btn btn-primary">Start Now</button>
  </div>
</div>
