

<div class="card bg-dark text-white example-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <div class="avatar"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h4 class="card-title">{{ course.name }}</h4>
        <div class="card-text">{{ course.level }}</div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <a
routerLink="/course"
routerLinkActive="active"
>
    <img
      class="img-responsive ml-0"
      mat-card-image
      [src]="course.image_url"
      alt="Python symbol"
    />

    </a>
    <p class="card-text">{{ course.courseDescription }}</p>
    <button class="btn btn-primary">Start Now</button>
  </div>
</div>
