.example-card {
  max-width: 260px;
  /* max-height: 300px; */
margin: 30px;

}
img {
  max-width: 250px;
  padding: 0px;
}


.example-header-image {
  background-image: url('../../../../assets/images/hacker.jpg');
  background-size: cover;
}

.avatar {
  background-image: url('../../../../assets/images/hacker.jpg');
  background-size: cover;
  vertical-align: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
